body {
  margin: 0;
  background: linear-gradient(to bottom, #001f2f, #003f5c);
  color: white;
  text-align: center;
  font-family: sans-serif;
  overflow: hidden;
}

h1 {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background: #00bfff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

#container {
  width: 100vw;
  height: 80vh;
}
